<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.backend.mapper.MemberMapper">

    <select id="selectList" resultType="com.study.backend.domain.Member">
        SELECT MemberId, MemberName, MemberEmail FROM study.member
    </select>

    <select id="getMemberById" parameterType="int" resultType="com.study.backend.domain.MemberDetail">
        SELECT * FROM study.member
        WHERE MemberId = #{id}
    </select>

</mapper>